.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent; 
  padding-left: 3rem; 
  margin-top: 2rem;
  width: 100%;
}

.footer-copyright {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 500;
  margin-right: 1.5rem;
}
