@font-face {
  font-family: 'JDFont';
  src: url('src/assets/fonts/JDFont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'JDFont', sans-serif;
}

html{
    font: 'JDFont', sans-serif;
}

.app-container{
    background-color: white;
    margin: 0;
    width: 100%;
    min-width: 280px;
    min-height: 100vh;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
}

.app-content {
    flex: 1;
    display: flex;
}

.app-content > * {
    flex: 1;
}